extends ../../layouts/admin

block content

  h1 Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Posts

    dl
    each post in category_posts
      dt
        a(href=post.url) #{post.title}
      dd #{post.content}

    else
      p This category has no posts.

  hr
  p
    a(href=category.url+'/delete') Delete category
  p
    a(href=category.url+'/update') Update category
